
html, body, #app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: cursive;
  background-color:#fffdd0;
}

div, ul {
  margin: 0;
  padding: 0;
}

.stretch {
  width: 100%;
  height: 100%;
}



.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}



h1{
    text-align: center;
  background-color:  #b19cd9;
  padding:20px;
}


.list {
  text-align: center;
  list-style: none;
  background-color: #4FC1E9;
  color: white;
}

.column {
  float: left;
  width: 20%;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

a {
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    color:Black;
    text-align: center;
    text-decoration: none !important;
    background-color: #aec6cf;
}

.story{
  padding:20px;
}

p{
  margin-bottom:0;
}